<div class="col-xs-12 col-sm-12">
    <div class="nav_banner">

    </div>

<div class="nav_slider bg_ff">
    <div class="container">
        <div class="assets">
            <div class="col-xs-12 col-sm-12 bg_f2 title_cen padding">
                <span class="title_left">推荐投资项目</span>
            </div>
                <div class="assets_ul">
                <ul>
                    <span>业务类型</span>
                    <li ng-class="{'act at':bus == $index}" ng-repeat="b in businData" ng-click="selectBusin(b.value);$parent.bus = $index">{{b.type}}</li>
                    <em class="hui" ng-click="queryProAll()">恢复默认推荐</em>
                </ul>
                <ul>
                    <span>挂牌金额</span>
                    <li ng-class="{'act at':mon == $index}" ng-repeat="m in moneyData" ng-click="selectMoney(m.minPro,m.maxPro);$parent.mon = $index">{{m.type}}</li>
                </ul>
                <ul>
                    <span>融资期限</span>
                    <li ng-class="{'act at':ins== $index}" ng-repeat="i in interestData" ng-click="getInsDate(i.minFin,i.maxFin);$parent.ins = $index">{{i.type}}</li>
                </ul>
                <ul class="no_border" >
                    <span>挂牌日期</span>
                    <li ng-class="{'act at':lis == $index}" ng-repeat="d in ListingDate" ng-click="getLisDate(d.strDay,d.endDay);$parent.lis = $index">{{d.type}}</li>
                </ul>
                <!--<ul ng-repeat="d in Data">
                    <span>{{d.title}}</span>
                    <li ng-class="{'act at':test == $index}" ng-repeat="t in d.value"
                        ng-click="onSelect(t.value,t.minPro,t.maxPro,t.minFin,t.maxFin,t.str,t.end);$parent.test = $index">{{t.type}}</li>
                </ul>-->
            </div>
        </div>
        <div id="con" class="assets_tab"style="margin-bottom: 20px;">
        <!--=====================================基金产品A===================================-->
        <div class="dynamic">
            <ul class="box_title">
                <li>项目名称/项目编号</li>
                <li>挂牌价格（元）</li>
                <li>挂牌公告期（天）</li>
                <li>业务类型</li>
                <li>挂牌结束日期</li>
                <li>操作</li>
            </ul>
            <ul class="" ng-repeat="pro in recomList">
                <li><div class="box_big"><span title="{{pro.productName}}">{{pro.productName}}</span></div><div class="box_sem">{{pro.productNo}}</div></li>
                <li class="line">{{pro.productMoney}}</li>
                <li class="line">{{pro.productDeadline}}</li>
                <li class="line">{{pro.productTypeName}}</li>
                <li class="line">{{pro.publisherStartDate | dateFilter:'yyyy-MM-dd'}}{{pro.publisherEndDate | dateFilter:'yyyy-MM-dd'}}</li>
                <li class="line"><button class="btn btn_buy" ng-click="turnAssetDetails2(this)">查看详情</button></li>
            </ul>
            <div class="loading" ng-show="showDiv"><img src="img/noData.png"></div>
        </div>
        </div>
    </div>

</div>
</div>

