div,p,h1,h2,h3,h4,h5,img,input,textarea,ul,li,dl,dt,dd{padding:0;margin:0;}
em,i{font-style:normal;}
b,strong{font-weight:normal;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
ul,li,dl,dd,dt{list-style: none;}
button,input{outline: none;}
body{font-family: "Microsoft YaHei";}
img{width: 100%;}
/*取消谷歌默认的input和textarea下的样式*/
input,button,select,textarea{outline:none}textarea{resize:none}
a:hover,a:link,a:active,a:visited{
    text-decoration:none;
}
a:hover{cursor: pointer;}
/************************** signIn header ****************************************/
.top-head{height:80px;}
.top-head .logo{float:left;width:300px;}
.top-head .logo img{float:left;width:90px;margin:15px;}
.top-head .logo .logo-name{float:left;margin-top:15px;margin-bottom:15px;font-size:10px;width:145px;}
.top-head .logo .logo-name em{display:block;font-size:30px;}
.top-head .head-right{float:right;margin:30px 0;}

.login-main{height:740px;padding-top:20px;background-image:url("../img/banner.png");background-repeat:no-repeat;background-position: center;}
.login-main .container{height:650px;margin:0 auto 70px auto;background:rgba(255,255,255,.8)}
.login-main .main-top{height:70px;line-height:70px;background-color:#1d4d7b;color:#fff;}
.login-main .main-top b{font-size:18px;margin-left:15px;margin-right:30px;}
.login-main .main-top a{color:#fcca00;padding-right:30px;position:relative;}
.login-main .main-top a:after{content: "";height:14px;width:0;border-right:1px solid #fff;position:absolute;top:3px;right:15px;}
.login-main .main-middle .signIn{float:left;width:600px;height:100%;padding-top:50px;padding-left:130px;}
.login-main .main-middle .signIn .inp{height:40px;line-height: 40px;margin-bottom:20px;position:relative;}
.login-main .main-middle .signIn .inp p{position:absolute;left:335px;top:0;}
.login-main .main-middle .signIn .inp .help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #a94442;
}
.login-main .main-middle .signIn .has-error input{border-color: #a94442;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.login-main .main-middle .signIn label{width:80px;height:40px;text-align:right;margin-right:15px;color:#4c4c4c;font-weight:500;}
.login-main .main-middle .signIn input{display:inline-block;height:40px;width:230px;padding-left:15px;border:1px solid #d2d2d2;color:#b2b2b2;}
.login-main .main-middle .signIn b{float:left;color:#ff6e63;}
.login-main .main-middle .signIn .number label{letter-spacing:3px;}
.login-main .main-middle .signIn .password1,.login-main .main-middle .signIn .password2{position:relative;}
.login-main .main-middle .signIn .icon-lock{position: absolute;display:block;width:20px;height:20px;background-image:url("../img/lock.png");background-repeat:no-repeat;background-position:center;left:295px;top:10px;}
.login-main .main-middle .has-error input:focus{border-color: #a94442;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.login-main .main-middle input:focus{border-width:1px;border-style:solid;border-color:#1d4e79;color:#b2b2b2;}
.login-main .main-middle .checkNum input,
.login-main .main-middle .infoNum input{width:108px;}
.login-main .main-middle .checkNum span,
.login-main .main-middle .infoNum span{display:inline-block;width:108px;height:40px;margin-left:15px;text-align:center;background:#fff;color:#4c4c4c;border:1px solid #d2d2d2;cursor: pointer;}
.login-main .main-middle .signIn .agreen{width:230px;margin-left:95px;position:relative;}
.login-main .main-middle .signIn .agreen input[type="checkbox"]{width:16px;height:16px;position:absolute;left:0;top:10px;margin-right:15px;-webkit-appearance: none;}
#check{position:absolute;z-index:100;}
#check+label{width:16px;height:16px;cursor: pointer;position:absolute;top:12px;left:0;}
#check:checked+label{border:1px solid #50a6fd;}
#check:checked+label:after {
    position:absolute;
    left: 0;
    top: 2px;
    padding: 9px 0 0;
    content: '';
    background: url(../img/agree.png)no-repeat center;
    width: 100%;
    text-align: center;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
#check:not(:checked)+label:afet{
    border:1px solid #50a6fd;
    background: #fff;
}


/************************** signIn  footer *****************************************/
.login-main .main-middle .signIn .agreen .get{font-size:12px;color:#666;text-decoration: underline;}
.login-main .main-middle .signIn .next{width:230px;height:40px;line-height:40px;margin-left:95px;text-align:center;border:none;color:#fff;background:#ed563b;}
.login-main .main-middle .advert{float:left;width:530px;height:100%;}
.bottom-foot{height:110px;}
.bottom-foot .left{float:left;width:460px;overflow: hidden;}
.bottom-foot .left .foot-logo{width:290px;float:left;height:110px}
.bottom-foot .left .tel{margin-top:45px;}
.bottom-foot .left .tel span{display:block;}
.bottom-foot .right{float:right;width:650px;text-align:right;}
.bottom-foot .right ul{overflow: hidden;}
.bottom-foot .right li{float:right;margin-top:20px;margin-bottom:20px;margin-left:60px;}

/*================================signIn 2 ========================================*/
.login-main .main-middle .signIn h3{height:40px;width:325px;margin-bottom:20px;line-height:40px;padding-bottom:10px;border-bottom:1px solid #dfdfdf;font-weight:500;font-size:16px;color:#555;}
.login-main .main-middle .signIn em{border-bottom:1px solid #1c4d7a;padding-bottom:10px;}
.login-main .main-middle .signEnd{width:520px;height:275px;margin:120px auto;text-align:center}
.login-main .main-middle .signEnd .title{width:340px;height:60px;margin:0 auto;background-image: url("../img/sd.png");background-repeat:no-repeat;line-height:45px;text-align:center;color:#fff;font-size:22px;}
.login-main .main-middle .signEnd .user{margin-top:54px;font-size:18px;color:#333;}
.login-main .main-middle .signEnd .tip{color:#808080;margin-top:10px;}
.login-main .main-middle .signEnd .ws{position:relative;margin-top:12px;height:100px;background-image: url("../img/btn_register.png");background-repeat: no-repeat;}
.login-main .main-middle .signEnd .ws span{position:absolute;top:57px;left:55px;color:#fff;font-size:20px;font-weight:bold;}
.login-main .main-middle .signEnd .ws .btn{display:block;width:136px;height:46px;border:1px solid #fdb812;color:#fdb812;border-radius:25px;font-size:20px;text-align:center;position:absolute;right:0;top:50px;}
