#kkpager{
	/*
	clear:both;
	color:#999;
	padding:5px 0px 5px 0px;
	font-size:13px;
	*/
	display:inline-block;
	text-align: center;
    font-size: 12px;
    line-height: 12px;
}

#kkpager a{
	float: left;
	border: 1px solid #ccc;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	background: #fff;
	text-decoration:none;
	color:#999;	
	/* 自己的  */  
	display:inline-block; 
	float: left; 
	padding: 0 10px; 
	margin-right: 3px;
	height: 22px;
	font:normal 10px/22px "Verdana";
	color: #333;
    border: 1px solid #eee;
	background-color: #f8f8f8;
}

#kkpager span.disabled{
    float: left;
    display: inline;
    padding: 0px 10px 2px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #DFDFDF;
    background-color: #FFF;
    color: #DFDFDF;
    line-height: 20px;
    font-size: 10px;
}
#kkpager span.curr{
    float: left;
    border: 1px solid #FF6600;
    display: inline;
    padding: 0px 10px 1px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFEEE5;
    color: #FF6600;
    color: #fff;
    background-color: #5f5f5f;
    border: 1px solid #5f5f5f;
    line-height: 22px;
    font-size: 10px;
}
#kkpager a:hover{

	border:1px solid #FF6600; 
	background-color:#FF6600; 
	color:#fff;
	/* 自己的  */  
	background-color: #bbb;
	border:1px solid #bbb;
	color: #fff;
}
#kkpager span.normalsize{
}
#kkpager_gopage_wrap{
	position:relative;
	left:0px;
	top:0px;
}
#kkpager_btn_go {
	width:44px;
	height:18px;
	border:0px;
	overflow:hidden;
	line-height:140%;
	padding:0px;
	margin:0px;
	text-align:center;
	cursor:pointer;
	background-color:#FF6600;
	color:#FFF;
	position:absolute;
	left:0px;
	top:-2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display:none;
}
#kkpager_btn_go_input{
	width:36px;
	height:14px;
	color:#999;
	text-align:center;
	margin-left:1px;
	margin-right:1px;
	border:1px solid #DFDFDF;
	position:relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	left:0px;
	top:0px;
	outline:none;
}

#kkpager_btn_go_input.focus{
	border-color:#FF6600;
}

#kkpager .pageBtnWrap{
	float:left;
}
#kkpager .infoTextAndGoPageBtnWrap{
	float:right;
}
#kkpager .spanDot{
	float:left;
	margin-right:5px;
	/* 自己的  */ 
	border: 1px solid #fff;
	background-color: #fff;
}

#kkpager .currPageNum{
	color:#FD7F4D;
}

#kkpager .infoTextAndGoPageBtnWrap{
	padding-top:5px;
}
