/*
    @author:suzihang;
    @creat:2016-07-08;
*/
/*=====userHome=====*/
.user-left-side{width:220px;height:100%;margin-bottom: -10px;float: left;background: #386798;position: fixed;}
.user-left-side li{width:100%;background: #386798;padding:0 30px 0 26px;height:60px;line-height: 60px;}
.user-left-side li:hover{background: #224676;}
.user-left-side li a{background: url('../img/r-arrows.png') no-repeat 100%;color:#fff;width:130px;display: inline-block;margin-left: 4px;}
.user-right-side{
    width:100%;
    padding-left: 220px;
    background: #fff;
}
.left-side-selected{background: #123656 !important;}
.user-info-tip{height:40px;line-height: 40px;border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd;font-size: 12px;color:#656565;background:#fafafa;position: relative;padding-left:23px;}
.user-info-tip em{background: url(../img/tishi.png) center no-repeat;padding: 16px;}
.user-info-tip a{display: inline-block;height:25px;line-height: 23px;width:95px;border:1px solid #e1e1e1;text-align: center;color:#656565;position: absolute;top:5px;right:12px;}
.user-container{padding:0 12px;}
.user-title{height:45px;line-height: 45px;color:#556a7c;font-size: 14px;}
.user-title span{color:#999;}
.user-main{border:1px solid #ddd;border-top: 2px solid #2a6eb7;font-size: 14px;}
.user-main-title{height:40px;line-height: 40px;border-bottom: 1px solid #ccc;padding:0 15px;}
.user-part1{margin:10px 15px;height:220px;overflow: hidden;position: relative;}
.user-part1 a{color:#54a3f6;}
.user-part1-l{margin-right:290px;border:1px solid #ccc;padding:0 12px;}
.user-part1-l-t{overflow: hidden;clear:both;}
.part1-con{float:left;border-right:1px dashed #ccc;border-bottom: 1px dashed #ccc;box-sizing:border-box;width:50%;height:160px;line-height: 38px;box-sizing:border-box;}
.part1-con ul{margin:30px 0;}
.big-red-font{color:red;font-size: 30px;line-height: 42px;}
.user-part1-l-b{width:100%;height:58px;line-height: 58px;}
.user-part1-l-b span{margin-right:20px;}
.user-part1-l button{height:36px;line-height: 34px;width:180px;color:#fff;padding:0;float:right;margin-top: 11px;font-size: 14px;}
.user-part1-r{width:280px;height:220px;border:1px solid #ccc;position: absolute;right:0;top:0;padding:0 12px;}
.user-part1-r a{line-height: 60px;float:right;}
.user-part1-r-t{height:160px;box-sizing:border-box;height:160px;border-bottom: 1px dashed #ccc;}
.user-part1-r-t span{line-height: 38px;}
.user-part1-r-t a{line-height: 38px;}
.user-part1-r-t .ch{position:absolute;left:0;}
.user-part2{border:1px solid #ccc;padding-bottom: 10px;margin:0 15px;clear:both;}
.user-part2-nav{background: #eee;height:40px;line-height: 40px;border-bottom:1px solid #ccc;box-sizing:border-box;}
.user-part2-nav li{float:left;padding:0 22px;cursor: pointer;}
.user-part2-nav .li-selected{background: #fff;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.user-part2-nav li:first-child{border-left: none !important;}
.user-part2-nav a{float: right;margin-right: 20px;color:#333;}
.part2-con {padding:0 12px;overflow: hidden;}
.part2-con .collectiont_tab_page{float: none;}
.part2-con>ul>li{border-bottom: 1px dashed #ccc;}
.part2-con-ul {overflow: hidden;vertical-align: middle;height:80px;line-height: 80px;}
.part2-con-ul li:nth-child(1),.part2-con-ul li:nth-child(3){line-height: 20px;font-size: 16px;padding-top: 15px;}
.part2-con-ul li:nth-child(1) p:first-child,.part2-con-ul li:nth-child(3) p:first-child{color:#999;font-size: 12px;}
.part2-con-ul li:nth-child(2){line-height: 100px;font-size: 18px;}
.part2-con-ul li:nth-child(2) span{font-size: 12px;color: #999;margin-left: 5px;}
.part2-con-ul li:nth-child(4) {text-align: right;}
.part2-con-ul li:nth-child(4) button{width: 80px;height: 40px;margin-left: 10px;}
.part2-con-ul li:nth-child(4) button:first-child{margin-left: 0;}


/*=====userProperty=====*/
.property-title{padding:0;background: #eee;}
.property-title li{float:left;padding:0 30px;cursor: pointer;}
.property-title .li-selected{background: #fff;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.property-title li:first-child{border-left: none !important;}
.property-title button{float: right;padding-top: 0px;padding-bottom: 0px;padding-left:25px;padding-right: 25px;margin: 0 auto;height: 34px;margin-top: 2px;margin-right: 12px;}
.property-cate{border:1px solid #ccc;padding:5px 20px;margin:10px 15px;float: left;}
.property-cate-p1  {overflow: hidden;}
.property-cate-p1 li{float: left;margin-right: 52px;}
.property-cate-p1 li span {margin-right: 10px;line-height: 40px;}
.property-cate-p1 li input{width:180px;height:33px;border-width:1px;border-style:solid;border-color:#dcdcdc;text-indent: 10px;}
.property-cate-p1 li:nth-child(1){padding-left: 0;}
.property-cate-p1 li:nth-child(2){text-align: center;}
.property-cate-p1 li:nth-child(3){text-align: right;padding-right: 0;}
.property-cate-p2 {float: left;}
.property-cate-p2 li{float:left;margin-right:30px;line-height: 40px;}
.property-cate-p2 li:nth-child(1){margin-right:10px;}
.property-cate-p2 li span{color:#989898;cursor: pointer;}
.property-cate-p2 li span:hover{color:#0099e6 !important;}
.property-cate-p2 li input{width:124px;line-height: 20px;margin-right: 12px;margin-left: 12px;text-indent: 10px;}

.property-cate-p3 {float: left;}
.property-cate-p3 .let{float:left;margin-right:30px;line-height: 40px;}
.property-cate-p3 .let:nth-child(1){margin-right:10px;}
.property-cate-p3 .let span{color:#989898;cursor: pointer;}
.property-cate-p3 .let span:hover{color:#0099e6 !important;}
.property-cate-p3 .let input{width:70px;line-height: 20px;margin-right: 12px;margin-left: 12px;}
.property-cate-p3 .on{color:#0099e6 !important;}
/*.property-cate-p3 {overflow: hidden;}*/
.property-cate-p3 li:nth-child(5){line-height: 30px;}
.property-cate-p3 li:last-child{float: right;margin-right: 0;text-align: right;}
.property-cate-p3 li:last-child button{padding:6px 30px;margin-left: 20px;color:#fff;margin: 0px auto;}
/*.property-cate-p3 li button{padding:6px 30px;margin-left: 20px;color:#fff;margin: 0px auto;}*/
/*.property-cate-p3 li button:first-child{background: #4a8dd3;}*/
/*.property-cate-p3 li button:first-child:hover{background-color: #4175ad;}*/

/*.selected-color{color:#0099e6 !important;}*/
/*.select-time{float:left;margin-top: 5px;}*/
.select-time input{margin-left:0px !important;margin-right: 0px !important;font-size: 12px !important;}
.select-time em{vertical-align: middle;float: left;margin: 4px 6px;}
/*.date{display: inline;position: relative;}*/
/*.select-time .input-append {*/
    /*margin-bottom: 5px;*/
    /*font-size: 0;*/
    /*white-space: nowrap;*/
/*}*/
/*.select-time .input-append .add-on {*/
    /*display: inline-block;*/
    /*width: auto;*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*line-height: 20px;*/
    /*text-align: center;*/
    /*text-shadow: 0 1px 0 #ffffff;*/
    /*border: 1px solid #ccc;*/
    /*position: absolute;*/
    /*top:-14px;right:2px;*/
/*}*/
/*.select-time .input-append.date .add-on i, .input-prepend.date .add-on i {*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*width: 16px;*/
    /*height: 16px;*/
/*}*/
/*==========end=============*/
.user-back{width:39px;padding:0 !important;box-sizing:border-box;height:40px;background: url(../img/r-arrows.png) no-repeat 50% 50%;}
.user-manage-nav{color:#556a7c;font-size: 16px;height: 40px;line-height: 40px;margin:0 10px;overflow: hidden;white-space: nowrap;position:relative;}
.user-manage-nav i{border-bottom:1px dashed #999;width:100%;height:1px;z-index: 9;position: absolute;display: block;top:50%;}
.user-manage-nav span{margin:0 10px;padding:0 5px;position: relative;background: #fff;z-index: 99;}
.user-manage-nav button{position: absolute;background: #fff;z-index: 99;right:5%;top:7px;}
.user-head{float: left;padding:30px;overflow: hidden;}
.user-head img{width: 120px;height:120px;border-radius: 60px;}
.user-info1{float:left;width:360px;padding-left: 20px;}
.user-info1 li{overflow: hidden;height:40px;line-height: 40px;}
.user-info1 li i {color:#999;margin-left:5px;margin-right: 10px;}
.text{
    display: inline-block;
    width: 60px;
    float: left;
    text-align: justify;
    text-align-last: justify;
    color:#999;
    line-height: 40px;
}
.text:after{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
    vertical-align: top;
}
.user-info2{padding-left:20px;padding-right:18px;margin-left: 180px;width:720px;overflow: hidden;position:relative;height:90px;zoom:1;}
.user-info2 i{color:#999;margin-left:5px;line-height: 40px;}
.info2-con{position: absolute;width:620px;top:5px;right:0;padding-left: 10px;line-height: 30px;}
.user-info2 p{line-height: 40px;}
.user-info2 button{margin-top: 10px;padding:9px 32px;background: #ffd942;color:#9c7d00;font-size: 16px;}

/*=========================用户管理===================================*/
.property-cate-p1 li select{width:180px;height:33px;border-width:1px;border-style:solid;border-color:#dcdcdc;text-indent: 6px;}
.property-cate-p1 li label{width:98px;margin-right: 5px;line-height: 40px;text-align:right;}
.btn{padding: 6px 25px;border-style:solid;border-width:1px;border-color: rgba(0, 0, 0, 0.1);border-image: none;color:#fff;}
.btn-query{background-color: #508ece;}
.btn-query:hover{background-color:#4175ad;color:#fff;}
.btn-desiable{cursor: default;color:#fff;}
.btn-desiable:hover{color:#fff;}
.query .table{width:100%;padding:15px;border-width:1px;border-style:solid;border-color:#f2f2f2;}
.query .table thead,.query .table tr{height:40px;text-align:center;}
.query .table-bordered > thead >tr{}
.query .table-bordered > thead > tr >td{border:none;}
.query .table-bordered > tr > td{border-left:1px solid #f2f2f2;border-right:none;}
.query .table-bordered > tbody > tr:nth-child(even){background-color:#f2f2f2}
.query .table thead{background-color:#f1f1f1;border:1px solid #f2f2f2;}
.query .table .td1{text-align:center;padding: 8px 0;}
.w120{width:120px;}
.w150{width:150px;}
.w180{width:180px;}
.w120{width:120px;}
.w210{width:210px;}
.w160{width:120px;}
.query .icon{display:inline-block;width:20px;height:25px;margin-left:30px;cursor:pointer;}
/*.query .icon.icon-edit{background-image: url('../img/images/icon_03.gif');}*/
/*.query .icon.icon-delete{background-image: url('../img/images/icon_05.gif');}*/
.query .new{float:right;width:120px;height:30px;line-height:30px;text-align:center;color:#fff;background-color:#0099e7;margin-top:5px;margin-right:5px;cursor:pointer;border-radius: 4px;}
.org-title{margin:0 20px;border-bottom: 1px dashed #ccc;overflow: hidden;}
.org-title-word{float:left;margin-top:44px;margin-bottom: 20px;}
.org-title-word span{color:red;}
.org-title button{float:right;margin-top: 25px;background: #ed563a;}
.org-main{padding:0 20px;overflow: hidden;}
.org-body{overflow: hidden;margin-left:-20px;}
.org-con{border:1px solid #ccc;border-bottom: 3px solid #54a3f6;border-radius: 3px;margin-left:20px;margin-top: 20px; line-height: 60px;padding:0 18px;width:295px;color:#333;float:left;}
.org-con p{width:100%;white-space: nowrap;overflow: hidden;}
.org-con p:nth-child(1){font-size: 18px;border-bottom: 1px solid #dbe8f2;}
.org-con p:nth-child(2){font-size: 22px;}
.org-con p:nth-child(3){color:#999;}

/*图片修改*/
.user-head .invest_cen .kuang{width: 100%;margin-bottom: 20px;float: left;}
.user-head .invest_cen .kuang_left{float: left;width: 442px;}
.user-head .invest_cen .kuang .business{float:left;background-color: #ffffff;margin: 0 auto;border:0px solid red;display: inline-block;}
.user-head .invest_cen .kuang .business .left{height: 120px;width: 120px;margin-right:30px;float:left;position: relative;border-radius: 4px;}
.user-head .invest_cen .kuang .business .text_left{float: left;text-align: left;width: 200px;line-height: 34px;margin-left: 60px;}
.user-head .invest_cen .kuang .headerTop .ordersDetails .encircle .center .business .bottom{font: 14px/40px "Microsoft YaHei";color:#333;}
.user-head .invest_cen .kuang input[type=file]{display: none;}
.user-head .invest_cen .kuang .upload label{width: 120px;height: 30px;color: #fff;border-radius:3px;font-weight: normal;text-align: center;line-height: 30px;font-size: 14px;display: inline-block;cursor: pointer;background-color: #0099e5;}
.user-head .invest_cen .kuang .upload{height: 66px;padding-top: 44px;text-align: center;}
.user-head .invest_cen .kuang .upload label:hover .hover_sc{display: block;}
.ti{width: 100%;max-width:1030px;height: 60px;background: rgba(0, 0, 0, 0.4);position: fixed;bottom:0px;line-height: 60px;}
.ti .btn_out{text-align: center;padding: 10px 50px;background-color: #f63;border: 0px;width: 100px;height: 34px;line-height: 60px;color: #fff;cursor: pointer;font-size: 14px;border-radius: 4px;line-height: 30px\9\0;text-indent: 0px;}
.user-head .invest_cen .kuang .hover_upload{display: none;text-align: center;height: 30px;width:120px;padding-top: 0px;position: absolute;z-index: 999;top:90px;background: rgba(0, 0, 0, 0.4);border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.user-head .invest_cen .kuang .left:hover .hover_upload{display: block;}
.user-head .invest_cen .kuang .hover_upload label{width: 79px;height: 22px;text-align: center;font-weight:normal;line-height:22px;font-size: 14px;display: inline-block;cursor: pointer;margin: 4px;color: #fff;border-radius: 4px;padding: 0px 5px;}


/*dialog弹窗*/
.modal-open .modal{display:table;height:100%;width:100%;}
.bounced{width:440px;height:280px;text-align:center;position:absolute;z-index:1000;top:50%;left:50%;margin-top:-140px;margin-left:-220px;background-color:#fff;}
.bounced .icon{width:66px;height:66px;line-height:60px;font-size:48px;border-radius:50px;margin:34px auto 25px auto;color:#fff;text-align:center;}
.bounced .icon.icon-danger{background-image:url("../img/bounced/deft.png");background-repeat: no-repeat;}
.bounced .icon.icon-success{background-image:url("../img/bounced/vtor.png");background-repeat: no-repeat;}
.bounced .icon.icon-tis{background-image:url("../img/bounced/tis.png");background-repeat: no-repeat;}
.bounced .title{font-size:18px;color:#333;margin-bottom:16px;}
.bounced .tip{font-size:14px;color:#666;}
.bounced .btn{width:120px;height:40px;margin:30px auto;padding: 9px 12px;}
.bounced .close{width:14px;height:14px;cursor:pointer;background-image:url("../img/bounced/cancel_popup.png");background-repeat: no-repeat;text-align:center;position:absolute;right:20px;top:20px;}
.reject-title{line-height: 40px;border-bottom: 1px solid #ccc;padding-left: 20px;text-align: left;}
.reject-con {padding:20px;padding-bottom: 0;}
.reject-con textarea{width:100%;height:120px;padding:10px;}
.reject .btn{margin:20px;}

.bounced .bounced_top{height: 40px;width: 100%;background-color: #004099;line-height: 40px;}
.bounced .bounced_top span{float: left;color: #fff;margin-left: 10px;}
.bounced .tip ul{margin: 15px 0px 0px;}
.bounced .tip ul li{display: inline-block;}
.bounced .tip ul li:nth-child(1){text-align: right;width: 70px;}
.bounced .tip input{height: 28px;text-indent: 10px;}
.bounced .iconX{width: 23px;height:23px;float: right;background: url("../img/cancel_popup.png") no-repeat center;margin: 10px 10px;cursor: pointer;}
.bounced .btn_nei{margin: 18px 10px 0px;width: 80px;height: 30px;padding: 5px 12px;}
.bounced .btn_bai{margin: 18px 10px 0px;background-color: #fff;color: #333;width: 80px;height: 30px;padding: 5px 12px;}

.pwb-header {
    clear:both;margin-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.pwb-header a.add-btn {
    color: #fff;
    background: #e54046 url("../img/images/plus.png") no-repeat;
    padding: 0 25px 0 43px;
    margin:0;
    line-height: 38px;
}
/*datepicker*/
.my-date{position: relative;width:180px;line-height: 33px;float:right;margin-top: 5px;margin-left:5px;}
.my-date input{border-radius: 0;padding:0;}
.input-group ul{padding-top:0;}
.input-group table .btn{}
.input-group li{margin-right:0;line-height: 14px;display: inline;}
.input-group li .btn{font-size:12px;padding:6px 12px!important;border:none;color:#a1b1c2;}
.input-group li .btn:hover{color:#4f5f6f;}
.input-group th{text-align: center;padding:3px 0;}
.input-group span{margin-right:0 !important;line-height: 14px !important;}
.input-group-btn button{color:#000;line-height: 19px;border-radius:0;padding:6px 18px;}
.input-group li table thead tr:nth-child(1){background-color:#253f56;color:#fff;}
.input-group li table thead tr:nth-child(1) .btn{background-color:#253f56;color:#fff;}
.input-group li table thead tr:nth-child(1) .btn:hover{color:#fff;}
.input-group li table thead tr:nth-child(2) > th{height:30px;font-size:12px;font-weight:500;color:#fff;background-color:#396798;}
.input-group li table tbody tr:nth-child(odd){background-color:#fff;}
.input-group li table tbody tr:nth-child(odd) .btn{background-color:#fff;}
.input-group li table tbody tr:nth-child(even){background-color:#f5f8fc;}
.input-group li table tbody tr:nth-child(even) .btn{background-color:#f5f8fc;}
.input-group li .btn.btn-info{background-color:#fff;border-width:1px;border-style:solid;border-color:#838f9a;}
.input-group li .btn.btn-small{margin-right:10px !important;}
.input-group li .btn-group .btn-small.btn-inverse{background-color:#396798;}
.input-group li .btn-group .btn-small.btn-danger{background-color:#ed563b;}
.input-group li .btn-group .btn-small.btn-success{background-color:#feb704;}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.input-group .ng-isolate-scope{width:200px;}
#web-date{width: 300px;
    float: left;
    margin: 0;}
#web-date1 .input-group{margin-top:4px;}
#web-date2 .input-group{margin-top:4px;}
#web-date .input-group>input{width:180px!important;}
#web-date .input-group>span{width:50px!important;}
#web-date button{margin:0;width:inherit!important;height: inherit!important;}
#web-date .dropdown-menu span{width:inherit;}
#web-date li{float: left!important;}
#web-date1{width: 300px;
    float: left;
    margin: 0;}
#web-date1 .input-group>input{width:180px!important;height:33px;text-indent: 10px;}
#web-date1 .input-group>span{width:50px!important;}
#web-date1 button{margin:0;width:inherit!important;height: inherit!important;}
#web-date1 .dropdown-menu span{width:inherit;}
#web-date1 li{float: left!important;}

#web-date2{width: 300px;
    float: left;
    margin: 0;}
#web-date2 .input-group>input{width:180px!important;height:33px;text-indent: 10px;}
#web-date2 .input-group>span{width:50px!important;}
#web-date2 button{margin:0;width:inherit!important;height: inherit!important;}
#web-date2 .dropdown-menu span{width:inherit;}
#web-date2 li{float: left!important;}

#web-date3{width: 300px;
    float: left;
    margin: 0;}
#web-date3 .input-group>input{width:180px!important;}
#web-date3 .input-group>span{width:50px!important;}
#web-date3 button{margin:0;width:inherit!important;height: inherit!important;}
#web-date3 .dropdown-menu span{width:inherit;}
#web-date3 li{float: left!important;}

#web-date4{width: 300px;
    float: left;
    margin: 0;}
#web-date4 .input-group>input{width:180px!important;}
#web-date4 .input-group>span{width:50px!important;}
#web-date4 button{margin:0;width:inherit!important;height: inherit!important;}
#web-date4 .dropdown-menu span{width:inherit;}
#web-date4 li{float: left!important;}

/*=====门户，公告=========*/
.notice ul{overflow: hidden;}
.not-con{margin-top:-10px;height: 0;/*transition:height 1s;*/overflow: hidden;}
.not-con-active{/*height:100px !important;*/height: 100%;min-height: 100px;}
.not-con .not-tit{font-size: 14px;color:#999;text-align: left;}
.not-con .not-tit+pre{border:none;background: #f8f8f8;font-size: 16px;font-family: "Microsoft YaHei";color:#666;margin-top: 6px;}
.notice pre{text-align: left!important;text-indent: 2em;min-height: 60px;border: 0px;margin-top: 10px;}

/*========== 表单验证 =========*/
input.ng-invalid.ng-dirty {border-color:red !important;}
select.ng-invalid.ng-dirty {border-color:red !important;}

/*修改密码弹框*/
.changePw input {border-width: 1px;}
.changePw .tip span{padding-left:40px;color:red;font-size: 12px;}