<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/all.css">
    <script src="../../../lib/angular/angular.js" type="text/javascript"></script>
</head>
<body>
<div class="container top-head clearfix">
    <div class="logo clearfix"></div>
    <div class="head-right">
        汇融金服首页
    </div>
</div>
<div class="login-main">
    <div class="container">
        <div class="main-top row"><b>新会员注册</b>已有账号，直接<a href="">登录</a>基金公司、证券公司开户请直接联系888 888 888</div>
        <div class="main-middle">
            <div class="signEnd">
                <div class="title">注册成功</div>
                <div class="user">您的企业会员号：<span style="margin-right:40px;">8888888</span>用户名：<span>888888</span></div>
                <div class="tip">初步注册会员只能修改个人信息，无法享有交易和权限管理功能。</div>
                <div class="ws"><span>立即补充资料获得更多服务</span><a href="../../../index.html" class="btn">返回首页</a></div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-foot container clearfix">
    <div class="left">
        <div class="foot-logo"></div>
        <div class="tel">
            8888-8888-888
            <span>服务时间 9:00-18:00</span>
        </div>
    </div>
    <div class="right">
        <ul>
            <li><a href="">融汇官网</a></li>
            <li><a href="">新手引导</a></li>
        </ul>
        <div>版权所有 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
    </div>
</div>
</body>
</html>



