<div class="col-xs-12 col-sm-12">
<div class="col-xs-12 col-sm-12 nav_slider">
    <div class="flexslider">
        <ul class="slides">
            <li class="pat_banner1"><a class="ad" href="#"></a></li>
            <li class="pat_banner2"><a class="ad" href="#"></a></li>
            <li class="pat_banner3"><a class="ad" href="#"></a></li>
            <li class="pat_banner4"><a class="ad" href="#"></a></li>
        </ul>
        <div class="flag"  ng-if="pat_memberNo == null || pat_memberNo == ''">
            <div class="flagbg" >
                <div class="flag_center">
                   <div class="flagbg_p">快捷登录</div>
                    <div class="item y_item">
                        <i class="name iconfont icon-account"></i>
                    <input type="text" class="input_load" placeholder="请输入您的会员号" ng-model="ind.memberNo" maxlength="9" required/>
                    </div>
                    <div class="item y_item">
                        <i class="name iconfont icon-account"></i><!--
                        --><input type="text" class="input_load" placeholder="请输入您的用户名" ng-model="ind.logName" required/>
                    </div>
                    <div class="item y_item">
                        <i class="name iconfont icon-account"></i><!--
                        --><input type="password" class="input_load" placeholder="请输入您的登录密码" ng-model="ind.loginPswd" required/>
                    </div>
                        <div class="item y_item">
                            <i class="name iconfont icon-account"></i><!--
                        --><input type="text" class="input_load input_xiao code" placeholder="请输入验证码" ng-model="ind.code" />
                            <div class="checkCode"   title="看不清，请点击刷新">
                                <img src="{{validateImgSrc}}" id="code"   ng-click="getCode()"/>
                            </div>
                        </div>
                    <div class="mt10"  >
                       <button class="btn btn_load" id="loginBtn" name="loginBtn" ng-click="login(ind);">登 录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav_wrapper">
    </div>

</div>
<div class="nav_slider bg_not">
    <div class="container clearfix">
        <div class="container_top">
            <div class="product">
                <div class="pro_head"><div class="pro-ie6"><em>&nbsp;</em><span >{{notTitle}}</span></div><a ui-sref="home.notice">消息中心&nbsp;&nbsp;&nbsp;&nbsp;></a></div>
            </div>
        </div>
    </div>
</div>
<div class="nav_slider bg_ff">
    <div class="container">
        <div class="join clearfix">
            <div class="join_project">
                <ul>
                    <li class="one"><h4>投资交易服务</h4><h5>企业级专业投资服务<br>自由灵活的投资期限<br>使企业资金更加灵活</h5></li>
                    <li class="two"><h4>资金安全</h4><h5>银行托管资金更安全，<br>更保险</h5></li>
                    <li class="three"><h4>信息安全</h4><h5>银行系技术团队锻造<br>专业安全平台致力保<br>障信息安全</h5></li>
                    <li class="free"><h4>供应链～生态圈</h4><h5>打造行业生态金融圈<br>助力企业供应链协同</h5></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 bg_f2 title_cen padding">
            <span class="title_left">推荐投资项目</span>
            <span class="title_right">更多>></span>
        </div>
        <div class="col-xs-12 col-sm-12 center">
            <div  class="hover">
                <div class="center_ter"  ng-repeat="coop in coopList">
                    <div class="zhao">{{coop.productSName}} <i>{{coop.productNo}}</i><span class="wenjian">推荐</span><em>{{coop.createDate}}</em></div>
                    <div class="center_left">
                        <div class="zui">挂牌价格（元）</div>
                        <div class="nob">{{coop.productMoney}}</div>
                    </div>

                    <div class="center_right">
                        <div class="lv">
                            <div class="lv_left">
                                <div class="lv_top">业务类型</div>
                                <div class="lv_nob">{{coop.productTypeName}}</div>
                            </div>
                            <div class="lv_left">
                            <div class="lv_top" style="float: left;">挂牌公告期（天）</div>
                            <div class="lv_nob" style="float: left;height: 40px;">{{coop.productDeadline}}</div>
                            </div>
                            <div class="lv_left lv_no">
                                <div class="lv_top">挂牌结束日期</div>
                                <div class="lv_nob">{{coop.publisherStartDate | dateFilter:'yyyy-MM-dd'}}{{coop.publisherEndDate | dateFilter:'yyyy-MM-dd'}}</div>
                            </div>
                            <div class="lv_left lv_no lv_m">
                                <button type="button" class="btn btn_buy" ng-click="turnAssetDetails2(this)">查看详情</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loading" ng-show="showRecDiv"><img src="img/noData.png"></div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 bg_f2 title_cen padding">
            <span class="title_left">热门产品</span>
        </div>
        <div class="col-lg-12 center rem">
            <ul>
                 <li ng-repeat="pro in proList | limitTo:4">
                    <div class="rem_title"><input type="hidden" ng-model="pro.productNo" value="{{pro.productNo}}"/>{{pro.productName}}</div>
                    <div class="rem_fen">
                        <span class="rem_low" ng-if="pro.productRating == 0">{{pro.productRatingCH}}风险</span>
                        <span class="rem_middle" ng-if="pro.productRating == 1">{{pro.productRatingCH}}风险</span>
                        <span class="rem_height" ng-if="pro.productRating == 2">{{pro.productRatingCH}}风险</span>
                    </div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">{{pro.fundIncome  | strFilter:'6'}}<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">{{pro.yield  | strFilter:'5'}}<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy" ng-click="turnFundDetails(this)">查看详情</button>
                </li>
            </ul>
            <div class="loading" ng-show="showHotDiv"><img src="img/noData.png"></div>
        </div>

        <div class="details_box">
            <div class="classes news y_bottom bg_not">
                <ul class="nav nav-tabs" id="tab">
                    <li class="active"><a>基金产品</a></li>
                 <!--  &lt;!&ndash; <li><a>基金产品B</a></li>
                    <li><a>基金产品C</a></li>
                    <li><a>基金产品D</a></li>-->

                    <span class="title_right" style="margin-right: 15px;">更多>></span>
                </ul>
            </div>
        <div id="con">
       <!-- &lt;!&ndash;=====================================基金产品A===================================&ndash;&gt;-->
        <div class="dynamic">
            <ul class="box_title">
                <li>基金名称</li>
                <li>最新净值（元）</li>
                <li>万份收益（元）</li>
                <li>七日年化（%）</li>
                <li>风险等级</li>
                <li style="padding-right: 48px;">操作</li>
            </ul>
              <ul class="" ng-repeat="pro in proList | limitTo:5">
                        <li><div class="box_big"><span>{{pro.productName}}</span></div><div class="box_sem"><input type="hidden" ng-model="pro.productNo" value="{{pro.productNo}}"/>{{pro.productNo}}</div></li>
                        <li><div class="box_big"><span>{{pro.unitNav}}</span></div><div class="box_sem">{{pro.navDate | dateFilter:"yyyy-MM-dd"}}</div></li>
                        <li class="line">{{pro.fundIncome  | strFilter:'6'}}</li>
                        <li class="line">{{pro.yield  | strFilter:'5'}}</li>
                        <li class="line">{{pro.productRatingCH}}风险</li>
                        <li class="line"><button class="btn btn_buy" ng-click="turnFundDetails(this)">查看详情</button></li>
              </ul>
            <div class="loading" ng-show="showDiv"><img src="img/noData.png"></div>
        </div>

</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 bg_f9">
    <div class="service bg_f9">
        <div class="service-top">
            <ul>
                <li class="ser1"><h6>安全保障</h6><h5>由招行CBS支付，强大交易结<br>算，银行团队技术保障，维护<br>企业资金和信息安全</h5></li>
                <li class="ser2"><h6>流动性强</h6><h5>与招行CBS对接，实现企业理<br>财预约认购、赎回等服务，流<br>动性更强，赢在时间和效率</h5></li>
                <li class="ser3"><h6>稳赢、收益高</h6><h5>属于直销模式,于官网更多优惠<br>与让利，使企业资金更稳<br>盈，同时财富快速增值</h5></li>
                <li class="ser4"><h6>贴心服务</h6><h5>服务围绕招行CBS核心企业，<br>贴心服务助力供应链生态圈企<br>业成长</h5></li>
            </ul>
        </div>
    </div>
        </div>

    <div class="col-xs-12 col-sm-12 bg_ff">
        <div class="heZuo">
        <!--<ul ng-repeat="x in coopBusinessList">-->
        <!--<li><a href="{{x.webSite}}"><img src="{{x.log}}"></a></li>-->
        <!--</ul>-->
            <ul>
                <li><a ui-sref="home.financeDetails"><img src="img/hz1.jpg"></a></li>
                <li><a ui-sref="home.assetDetails_2"><img src="img/hz2.jpg"></a></li>
                <li><a><img src="img/hz3.jpg"></a></li>
                <li><a><img src="img/hz4.jpg"></a></li>
                <li><a><img src="img/hz5.jpg"></a></li>

                <!--<ul ng-repeat="x in coopBusinessList">-->
                <!--<li><a href="{{x.webSite}}"><img src="{{x.log}}"></a></li>-->
                <!--</ul>-->
            </ul>
        </div>
        <!--<div class="scroller">-->
            <!--<img class="prev" src="img/leftarrows.png">-->
            <!--<div class="list">-->
                <!---->
                <!--<ul>-->
                    <!--<li><a><img src="img/hz1.jpg"></a></li>-->
                    <!--<li><a><img src="img/hz2.jpg"></a></li>-->
                    <!--<li><a><img src="img/hz3.jpg"></a></li>-->
                    <!--<li><a><img src="img/hz4.jpg"></a></li>-->
                    <!--<li><a><img src="img/hz5.jpg"></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<img class="next" src="img/rightarrows.png">-->
        <!--</div>-->
    </div>
</div>
</div>
<script type="text/javascript">
    $(function(){
        //轮播图片
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });

        $(".join_us").click(function(){
            window.location.href="member.html"
        })
    });
//    $(".scroller").slide({
//        titCell:"",
//        mainCell:".list ul",
//        autoPage:true,
//        effect:"leftLoop",
//        autoPlay:true,
//        vis:5
//    });
</script>