<div class="col-xs-12 col-sm-12">
<div class="col-xs-12 col-sm-12 nav_slider">
    <div class="flexslider">
        <ul class="slides">
            <li><a class="ad" href="#"></a></li>
            <li><a class="ad" href="#"></a></li>
            <li><a class="ad" href="#"></a></li>
            <li></li>
        </ul>
        <div class="flag">
            <div class="flagbg">
                <div class="flag_center">
                   <div class="flagbg_p">快捷登陆</div>
                    <div class="item y_item">
                        <i class="name iconfont icon-account"></i>
                    <input type="text" class="input_load" placeholder="请输入您的会员号" name="logNumber" onblur="GetPwdAndChk()" />
                    </div>
                    <div class="item y_item">
                        <i class="name iconfont icon-account"></i><!--
                        --><input type="text" class="input_load" placeholder="请输入您的用户名" name="logName" onblur="GetPwdAndChk()" />
                    </div>
                    <div class="item y_item">
                        <i class="name iconfont icon-account"></i><!--
                        --><input type="text" class="input_load" placeholder="请输入您的登录密码" name="logPwd" onblur="GetPwdAndChk()" />
                    </div>
                        <div class="item y_item">
                            <i class="name iconfont icon-account"></i><!--
                        --><input type="text" class="input_load input_xiao code" placeholder="请输入验证码" name="code" onblur="GetPwdAndChk()" />
                            <div class="checkCode"   title="看不清，请点击刷新">
                                <img src="" id="code"   onclick="getCode()"/>
                            </div>
                        </div>
                    <div class="mt10"  >
                       <button class="btn btn_load" id="loginBtn" name="loginBtn" OnClick="SetPwdAndChk()">登 录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav_wrapper">
    </div>

</div>
<div class="nav_slider bg_not">
    <div class="container clearfix">
        <div class="container_top">
            <div class="product">
                <div class="pro_head"><div class="pro-ie6"><em>&nbsp;</em>公告：周一至周日，9:30、13:30、16:30、19:30准时发布<span id="notTile"></span></div><a href="#">消息中心&nbsp;&nbsp;&nbsp;&nbsp;></a></div>
            </div>
        </div>
    </div>
</div>
<div class="nav_slider bg_ff">
    <div class="container">
        <div class="join clearfix">
            <div class="join_project">
                <ul>
                    <li class="one"><h4>投资交易服务</h4><h5>企业级专业投资服务<br>自由灵活的投资期限<br>使企业资金更加灵活</h5></li>
                    <li class="two"><h4>资金安全</h4><h5>银行托管资金更安全，<br>更保险</h5></li>
                    <li class="three"><h4>信息安全</h4><h5>银行系技术团队锻造<br>专业安全平台致力保<br>障信息安全</h5></li>
                    <li class="free"><h4>供应链～生态圈</h4><h5>打造行业生态金融圈<br>助力企业供应链协同</h5></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 bg_f2 title_cen padding">
            <span class="title_left">推荐投资项目</span>
            <span class="title_right">更多>></span>
        </div>
        <div class="col-xs-12 col-sm-12 center">
            <div  class="hover">
                <div class="center_ter">
                    <div class="zhao">KSYTU12222产品名称可能很长很长很长你怕吗 <span class="wenjian">推荐</span><em>2016-01-01</em></div>
                    <div class="center_left">
                        <div class="zui">融资余额（元）</div>
                        <div class="nob">999,999,999,999.00</div>
                    </div>

                    <div class="center_right">
                        <div class="lv">
                            <div class="lv_left">
                                <div class="lv_top">业务类型</div>
                                <div class="lv_nob">资产受益权转让</div>
                            </div>
                            <div class="lv_left">
                            <div class="lv_top">融资利率</div>
                            <div class="lv_nob">8.99%</div>
                            </div>
                            <div class="lv_left lv_no">
                                <div class="lv_top">期限</div>
                                <div class="lv_nob">24个月</div>
                            </div>
                            <div class="lv_left lv_no lv_m">
                                <button type="button" class="btn btn_buy">购买</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center_ter">
                    <div class="zhao">KSYTU12222产品名称可能很长很长很长你怕吗 <em>2016-01-01</em></div>
                    <div class="center_left">
                        <div class="zui">融资余额（元）</div>
                        <div class="nob">999,999,999,999.00</div>
                    </div>

                    <div class="center_right">
                        <div class="lv">
                            <div class="lv_left">
                                <div class="lv_top">业务类型</div>
                                <div class="lv_nob">资产受益权转让</div>
                            </div>
                            <div class="lv_left">
                                <div class="lv_top">融资利率</div>
                                <div class="lv_nob">8.99%</div>
                            </div>
                            <div class="lv_left lv_no">
                                <div class="lv_top">期限</div>
                                <div class="lv_nob">24个月</div>
                            </div>
                            <div class="lv_left lv_no lv_m">
                                <button type="button" class="btn btn_buy">购买</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center_ter">
                    <div class="zhao">KSYTU12222产品名称可能很长很长很长你怕吗 <em>2016-01-01</em></div>
                    <div class="center_left">
                        <div class="zui">融资余额（元）</div>
                        <div class="nob">999,999,999,999.00</div>
                    </div>

                    <div class="center_right">
                        <div class="lv">
                            <div class="lv_left">
                                <div class="lv_top">业务类型</div>
                                <div class="lv_nob">资产受益权转让</div>
                            </div>
                            <div class="lv_left">
                                <div class="lv_top">融资利率</div>
                                <div class="lv_nob">8.99%</div>
                            </div>
                            <div class="lv_left lv_no">
                                <div class="lv_top">期限</div>
                                <div class="lv_nob">24个月</div>
                            </div>
                            <div class="lv_left lv_no lv_m">
                                <button type="button" class="btn btn_buy">购买</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="col-xs-12 col-sm-12 bg_f2 title_cen padding">
            <span class="title_left">热门产品</span>
        </div>
        <div class="col-lg-12 center rem">
            <ul>
                <li>
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_height">高风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
                <li>
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_middle">中风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
                <li>
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_low">低风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
                <li class="no">
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_low">低风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
            </ul>
        </div>

        <div class="details_box" ng-controller="indexTabCtrl">
            <div class="classes news y_bottom bg_not">
                <ul class="nav nav-tabs" id="tab">
                    <li class="active"><a>基金产品A</a></li>
                    <li><a>基金产品B</a></li>
                    <li><a>基金产品C</a></li>
                    <li><a>基金产品D</a></li>
                    <span class="title_right" style="margin-right: 15px;">更多>></span>
                </ul>
            </div>
        <div id="con">
        <!--=====================================基金产品A===================================-->
        <div class="dynamic">
            <ul class="box_title">
                <li>基金名称</li>
                <li>最新净值（元）</li>
                <li>万份收益（元）</li>
                <li>七日年化（%）</li>
                <li>风险等级</li>
                <li>操作</li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
        </div>

        <!--=================================基金产品B==================================-->
        <div class="dynamic" style="display: none">
            <ul class="box_title">
                <li>基金名称</li>
                <li>最新净值（元）</li>
                <li>万份收益（元）</li>
                <li>七日年化（%）</li>
                <li>风险等级</li>
                <li>操作</li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
        </div>

        <!--===========================基金产品C==================================-->
        <div class="dynamic" style="display: none">
            <ul class="box_title">
                <li>基金名称</li>
                <li>最新净值（元）</li>
                <li>万份收益（元）</li>
                <li>七日年化（%）</li>
                <li>风险等级</li>
                <li>操作</li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
        </div>

        <!--===========================基金产品D==================================-->
        <div class="dynamic" style="display: none">
            <ul class="box_title">
                <li>基金名称</li>
                <li>最新净值（元）</li>
                <li>万份收益（元）</li>
                <li>七日年化（%）</li>
                <li>风险等级</li>
                <li>操作</li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
            <ul class="">
                <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                <li class="line">2.756</li>
                <li class="line">2.75</li>
                <li class="line">低风险</li>
                <li class="line"><button class="btn btn_buy">我想申购</button></li>
            </ul>
        </div>
        </div>

        </div>

    </div>
    <div class="col-xs-12 col-sm-12 bg_f9">
    <div class="service bg_f9">
        <div class="service-top">
            <ul>
                <li class="ser1"><h6>安全保障</h6><h5>由招行CBS支付，强大交易结<br>算，银行团队技术保障，维护<br>企业资金和信息安全</h5></li>
                <li class="ser2"><h6>流动性强</h6><h5>与招行CBS对接，实现企业理<br>财预约认购、赎回等服务，流<br>动性更强，赢在时间和效率</h5></li>
                <li class="ser3"><h6>稳赢、收益高</h6><h5>属于直销模式,于官网更多优惠<br>与让利，使企业资金更稳<br>盈，同时财富快速增值</h5></li>
                <li class="ser4"><h6>贴心服务</h6><h5>服务围绕招行CBS核心企业，<br>贴心服务助力供应链生态圈企<br>业成长</h5></li>
            </ul>
        </div>
    </div>
        </div>
    <div class="col-xs-12 col-sm-12 bg_ff">
        <div class="scroller">
            <img class="prev" src="img/leftarrows.png">
            <div class="list">
                <ul>
                    <li><img src="img/cooperation.png"></li>
                    <li><img src="img/cooperation.png"></li>
                    <li><img src="img/cooperation.png"></li>
                    <li><img src="img/cooperation.png"></li>
                    <li><img src="img/cooperation.png"></li>
                    <li><img src="img/cooperation.png"></li>
                </ul>
            </div>
            <img class="next" src="img/rightarrows.png">
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(function(){
        //轮播图片
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });

        $(".join_us").click(function(){
            window.location.href="member.html"
        })
    });
    $(".scroller").slide({
        titCell:"",
        mainCell:".list ul",
        autoPage:true,
        effect:"leftLoop",
        autoPlay:true,
        vis:5
    });
</script>
