<div ng-controller="mulSelectCtrl">
    <a id="main/mulSelect"></a>
    <h1>多选下拉框</h1>
    <label>Single select:&nbsp;</label>
    <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>
        Action <span class="caret"></span>
    </button>
    <hr>
    <label>Multiple select:&nbsp;</label>
    <button type="button" class="btn btn-default" ng-model="selectedIcons" data-html="1" data-multiple="1" data-animation="am-flip-x" bs-options="icon.value as icon.label for icon in icons" bs-select>
        Action <span class="caret"></span>
    </button>

    <hr>
    <label for="">ngDropdownMultiselect</label>
    <div ng-dropdown-multiselect="" options="example13data" selected-model="example13model" extra-settings="example13settings"></div>
    {{example13model}}
    <button ng-click="getVal()">提交</button>
</div>

