<div class="user-main">
    <div class="user-main-title property-title">
        <ul>
            <li ng-class="{'li-selected':!selected}" ng-click="selected = false" currentLi="tranFinaingLi">融资管理</li>
            <li ng-class="{'li-selected':selected}" ng-click="selected = true" currentLi="tranTransferLi">受让资产管理</li>
        </ul>
        <button class="btn btn-yellow" ui-sref="home.finance">申请融资</button>
    </div>
    <div class="property-cate">
        <div class="property-cate-p1">
            <ul>
                <li>
                    <span>项目编号：</span>
                    <input type="text"  ng-model="productNo"/>
                </li>
                <li>
                    <span>项目名称：</span>
                    <input type="text" ng-model="productName"/>
                </li>
                <li>
                    <span>项目状态：</span>
                    <select ng-model="status">
                        <option value="">全部</option>
                        <option value="02">已申请，待平台审核</option>
                        <option value="03">申请审核通过</option>
                        <option value="04">申请被驳回</option>
                        <option value="07">挂牌中</option>
                        <option value="08">挂牌结束</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="property-cate-p2">
            <ul>
                <li>融资金额：</li>
                <li calcAmt="1"><span>100-500万</span></li>
                <li calcAmt="2"><span>500-1000万</span></li>
                <li calcAmt="3"><span>1000-5000万</span></li>
                <li calcAmt="4"><span>5000万以上</span></li>
                <li><input type="text" id="minAmt"/>至<input type="text" id="maxAmt">万</li>
            </ul>
        </div>
        <div class="property-cate-p3" style="width:100%;">
            <ul>
                <li class="let">提交时间：</li>
                <li class="let" changeDate="1"><span>近一个月</span></li>
                <li class="let" changeDate="3"><span>近三个月</span></li>
                <li class="let" changeDate="6"><span>近六个月</span></li>
                <li style="float: left;">
                    <div class="select-time">
                        <div class="my-date" id="web-date1" style="width: 230px;">
                            <p class="input-group">
                                <input type="text" class="form-control" data-format="yyyy-MM-dd" id="startDate" datepicker-popup="{{vm1.format}}" ng-model="vm1.value" is-open="vm1.opened" datepicker-options="dateOptions" date-disabled="vm1.disabled(date, mode)" show-weeks="false" ng-required="true"  close-text="关闭" readonly />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="vm1.open($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                            </p>
                        </div>
                        <em>&nbsp;至&nbsp;</em>
                        <div class="my-date" id="web-date2" style="width: 230px;">
                            <p class="input-group">
                                <input type="text" class="form-control" data-format="yyyy-MM-dd" id="endDate" datepicker-popup="{{vm2.format}}" ng-model="vm2.value" is-open="vm2.opened" datepicker-options="dateOptions" date-disabled="vm2.disabled(date, mode)" show-weeks="false" ng-required="true"  close-text="关闭" readonly />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="vm2.open($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <button class="btn btn-query" ng-click="submitForm()" style="margin-right:10px;">查询</button>
                    <button class="btn btn-default" ng-click="reset()" style="color:#333">重置</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="user-part2">
        <div class="part2-con">
            <ul ng-show="isShowTranFinaing">
                <li ng-repeat="tranFinaing in tranFinaings">
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>项目编号：{{tranFinaing.productNo}}</p>
                            <p>{{tranFinaing.productName}}</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;
                                <span ng-if="tranFinaing.transferAmt!=''">{{tranFinaing.transferAmt}}万元</span>
                                <span ng-if="tranFinaing.transferAmt==''">0.0万元</span>
                            </p>
                        </li>
                        <li class="col-md-2">
                            <p>提交日期：{{tranFinaing.createDate+tranFinaing.createTime | dateFilter:"yyyy-MM-dd HH:mm:ss"}}</p>
                            <p>{{tranFinaing.statusCH}}</p>
                        </li>
                        <li class="col-md-3">
                            <div>
                                <button class="btn btn-query" ng-click="tranFinaingDetail(this.tranFinaing)">查看</button>
                                <button class="btn btn-query" ng-if="tranFinaing.status=='04'" ng-click="modify(this.tranFinaing)">修改</button>
                                <button class="btn btn-query" ng-if="tranFinaing.status=='07'" ng-click="openDialogTran(this.tranFinaing,'save')">成交</button>
                                <button class="btn btn-query" ng-if="tranFinaing.status=='08'&&tranFinaing.tradeAmt==''" ng-click="openDialogTran(this.tranFinaing,'save')">成交</button>
                                <button class="btn btn-query" ng-if="tranFinaing.status=='08'&&tranFinaing.tradeAmt!=''"  ng-click="openDialogTran(this.tranFinaing,'edit')">修改成交</button>
                            </div>
                        </li>
                    </ul>
                </li>
                <li ng-show="tranFinaings.length==0"><div class="loading"><img src="img/noData.png"></div></li>
            </ul>
            <ul ng-show="isShowTranTransfer">
                <li ng-repeat="tranTransfer in tranTransferList">
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>项目编号：{{tranTransfer.productNo}}</p>
                            <p>{{tranTransfer.productName}}</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;{{tranTransfer.confirmAmt}}<span>万元</span></p>
                        </li>
                        <li class="col-md-2">
                            <p>提交日期：{{tranTransfer.createDate+tranTransfer.createTime | dateFilter:"yyyy-MM-dd HH:mm:ss"}}</p>
                            <p>{{tranTransfer.statusCH}}</p>
                        </li>
                        <li class="col-md-3" >
                            <button class="btn btn-query" ng-click="tranTransferDetail(this.tranTransfer)">查看</button>
                            <button class="btn btn-query"  ng-if="tranTransfer.status=='01'" ng-click="revoke(this.tranTransfer)">撤销</button>
                        </li>
                    </ul>
                </li>
                <li ng-show="showDiv"><div class="loading" ><img src="img/noData.png"></div></li>
            </ul>
            <div class="bottom_page">
				<div class="paging">
					<pagination direction-links="true" boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="search()" first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页" totalpage-links="false"></pagination>
				</div>
			</div>
        </div>
    </div>
    <div class="bounced-wrap" style="overflow-y: auto;" ng-show="isShowDialogTran">
        <div class="asset-details pb_do" style="background: none;">
            <div class="bounced_top"><span>成交信息</span><i class="iconX" ng-click="cancel()"></i></div>
            <div class="infor" style="border-radius: 4px;height: 360px;">
                <div class="" style="padding: 40px 0px 0px;">
                    <div class="one">
                        <div class="left">
                            <label>项目编号：</label><span>{{tranFinaingInfo.productNo}}</span>
                        </div>
                        <div class="right">
                            <label class="le-sp">项目名称：</label><span>{{tranFinaingInfo.productName}}</span>

                        </div>
                    </div>
                    <div class="two clearfix">
                        <div class="left"><label>标的价格：</label><span>{{tranFinaingInfo.attrValue}}</span></div>
                        <div class="right">
                            <label class="le-sp"><i class="hong">*</i>成交价格：</label>
                            <input class="w230" type="text" ng-model="tranFinaingInfo.tradeAmt">
                        </div>
                    </div>
                    <div class="three  ">
                        <div class="left">
                            <label><i class="hong">*</i>交易对手：</label>
                            <select class="w230" ng-model="transactionRival" ng-options="rival.memberName for rival in rivals" selected="tranFinaingInfo.tradeObj==transactionRival.memberName" ng-change="showOther(transactionRival)">
                                <option value="">其他</option>
                            </select>
                        </div>
                        <div class="right" ng-show="isShowOtherMem">
                            <label class="le-sp"></label>
                            姓名：<input ng-model="otherMem" placeholder="请输入交易对手名称">
                        </div>
                    </div>
                    <div class="three clearfix">
                        <div class="left">
                            <label><i class="hong">*</i>成交日期：</label>
                            <div class="my-date" id="web-date">
                                <p class="input-group">
                                    <input type="text" class="form-control"  name="orgCertValidate" datepicker-popup="{{vm.format}}" ng-model="vm.value" is-open="vm.opened" datepicker-options="dateOptions" date-disabled="vm.disabled(date, mode)" show-weeks="false" ng-required="true" readonly close-text="关闭" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="vm.open($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="four clearfix">
                        <label>合同上传：</label>
                        <div class="business">
                            <div class="left" id="fileImage5">
                                <div class="upload">
									{{fileName}}
                                   <form id="uplContractAttach"  method="post" enctype="multipart/form-data" >
                                       <span  ng-if="tranFinaingInfo.contractAttac!=null&&tranFinaingInfo.contractAttach!=''">{{tranFinaingInfo.contractAttach}}</span>
                                        <input type="file" name="img" ng-model="img" ng-change="upContractAttach('uplContractAttach','contractAttach')"  id="noAttachInput" multiple="multiple"
                                               style="width:150px;" accept="image/*,application/*"/>
                                        <input type="text" name="finaRrojNo" value="{{finaRrojNo}}" class="hide">
                                        <input type="text" name="upType" value="tranFinaing" class="hide">
                                    </form>
                                    <input type="text" hidden="true" name="contractAttach"  ng-model="tranFinaingInfo.contractAttach">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-red" style="margin-left:70px;margin-right:36px;" ng-click="comTranTransferLog()">保存</button>
                    <button class="btn asset-btn" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".control").hide();
        $(".business").hover(function () {
            $(".control", this).slideToggle(400);
        });

    });
    $(function () {
        var startDate = '';
        var endDate = '';
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });

        $('#datetimepicker2').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>

