<nav class="nav nav_index">
    <div class="top-header">
        <div class="top-header-us">
            <div class="logo hidden-xs" ui-sref="home.index"></div>
            <div class="header_hui_right" >
                <div class="header_hui_title" ui-sref="home.index">融汇金服首页</div>
                <div class="user user_hui">
                    <i class="userImg"></i>
                     <span>
                        <ul>
                            <li class="name" title="{{pat_memberName}}">{{pat_memberName}}</li>
                            <li class="out" title="安全退出"   ng-click="loginOut()"><i class="icon" ng-click="loginOut()"><img src="img/signout.png" class="signout"></i>安全退出</li>
                        </ul>
                     </span>
                    <div class="bor-r"></div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div style="padding-top: 80px;">
    <div class="user-left-side">
        <ul>
            <li ng-repeat="item in left_side" ng-class="{'left-side-selected':current_url == item.url}" ng-click="$parent.current_url = item.url;$parent.current_name = item.name">
                <i class="{{item.icon}}"></i>
                <a ui-sref="{{item.url}}">{{item.name}}</a>
            </li>
        </ul>

    </div>
    <div class="user-right-side" ng-controller="all_dialogCtrl">
        <div class="user-info-tip">
            <em></em>
            公告:    {{data.notTitle}}
            <!--<a ui-sref="#">消息中心&nbsp;&nbsp;></a>-->
        </div>
        <div class="user-container" ng-controller="datepickerCtrl">
            <div class="user-title"><span>个人中心</span>&nbsp;>&nbsp;{{current_name}}</div>
            <div ui-view></div>
        </div>
        
    </div>
    <div class="clearfix"></div>
</div>
<div class="t_bg" ng-show="checkcancel">
    <div class="bounced">
    <div class="icon icon-tis"></div>
    <div class="title">{{message}}</div>
    <!--<div class="tip">内容语句可能有点长有点长</div>-->

    <div class="btn btn-red" style="margin-right:36px;" ng-click="loginOutok()">确定</div>
    <div class="btn btn-default" ng-click="cancel()">取消</div>
    </div>
</div>