<div class="user-main">
    <div class="user-main-title">投资管理</div>
    <div class="user-part1">
        <div class="user-part1-l">
            <div class="user-part1-l-t">
                <div class="part1-con">
                    <ul>
                        <li>当前总金额(元)</li>
                        <li class="big-red-font">888,888,888.88</li>
                        <li>累计总转让资产(元)</li>
                        <li>88,888,888,888.88</li>
                    </ul>
                </div>
                <div class="part1-con" style="border-right:none;padding-left:12px;">
                    <ul>
                        <li>当前总金额(元)</li>
                        <li class="big-red-font">888,888,888.88</li>
                        <li>累计总转让资产(元)</li>
                        <li>88,888,888,888.88</li>
                    </ul>
                </div>
            </div>
            <div class="user-part1-l-b">
                <span>累计申请融资<span style="color:red;margin:auto 5px;">N</span>笔</span>
                <a ui-sref="#">查看详情</a>
                <button type="button" class="btn btn-default btn-lg">申请融资</button>
            </div>
        </div>
        <div class="user-part1-r">
            <div class="user-part1-r-t">
                <span>当前信息完整度</span>
                <a href="">完善修改资料</a>
                <img src="" alt="">
            </div>
            <a href="">查看业务开通情况</a>
        </div>
    </div>
    <div class="user-part2">
        <div class="user-part2-nav">
            <ul>
                <li ng-class="{'li-selected':!li_sel}" ng-click="li_sel = false">融资管理</li>
                <li ng-class="{'li-selected':li_sel}" ng-click="li_sel = true">受让资产管理</li>
            </ul>
            <a href="">查看更多>></a>
        </div>
        <div class="part2-con">
            <ul>
                <li>
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>8888888</p>
                            <p>项目名称可能很长十几个字</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;88888.88<span>万元</span></p>
                        </li>
                        <li class="col-md-2">
                            <p>2016-05-16</p>
                            <p>挂牌中</p>
                        </li>
                        <li class="col-md-3">
                            <button class="btn btn-default">查看</button>
                            <button class="btn btn-default">撤销</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>8888888</p>
                            <p>项目名称可能很长十几个字</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;88888.88<span>万元</span></p>
                        </li>
                        <li class="col-md-2">
                            <p>2016-05-16</p>
                            <p>挂牌中</p>
                        </li>
                        <li class="col-md-3">
                            <button class="btn btn-default">查看</button>
                            <button class="btn btn-default">撤销</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>8888888</p>
                            <p>项目名称可能很长十几个字</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;88888.88<span>万元</span></p>
                        </li>
                        <li class="col-md-2">
                            <p>2016-05-16</p>
                            <p>挂牌中</p>
                        </li>
                        <li class="col-md-3">
                            <button class="btn btn-default">查看</button>
                            <button class="btn btn-default">撤销</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>8888888</p>
                            <p>项目名称可能很长十几个字</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;88888.88<span>万元</span></p>
                        </li>
                        <li class="col-md-2">
                            <p>2016-05-16</p>
                            <p>挂牌中</p>
                        </li>
                        <li class="col-md-3">
                            <button class="btn btn-default">查看</button>
                            <button class="btn btn-default">撤销</button>
                        </li>
                    </ul>
                </li>
                  <li>
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>8888888</p>
                            <p>项目名称可能很长十几个字</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;88888.88<span>万元</span></p>
                        </li>
                        <li class="col-md-2">
                            <p>2016-05-16</p>
                            <p>挂牌中</p>
                        </li>
                        <li class="col-md-3">
                            <button class="btn btn-default">查看</button>
                            <button class="btn btn-default">撤销</button>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="bottom">
                <div class="collectiont_tab_page">
                    <div class="new_page">
                        <a href="#1">上一页</a>
                        <a class="current" href="#1">1</a>
                        <a href="#1">2</a>
                        <a href="#1">3</a>
                        <a href="#1">4</a>
                        <a href="#1" class="more">...</a>
                        <a href="#1">6</a>
                        <a href="#1">下一页</a>
                        <a href="#1">末页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        var h = $(".user-right-side").height() + 'px';
        $(".user-left-side").height(h);
</script>