<div class="user-main" ng-controller="userMainCtrl">
    <div class="user-main-title">投资管理</div>
    <div class="user-part1">
        <div class="user-part1-l">
            <div class="user-part1-l-t">
                <div class="part1-con">
                    <ul>
                        <li>当前总投资金额(元)</li>
                        <li class="big-red-font">{{tranAmt}}</li>
                    </ul>
                </div>
                <div class="part1-con" style="border-right:none;padding-left:12px;">
                    <ul>
                        <li>当前总融资金额(元)</li>
                        <li class="big-red-font">{{finaTranAmt}}</li>
                    </ul>
                </div>
            </div>
            <div class="user-part1-l-b">
                <span>累计申请融资<span style="color:red;margin:auto 5px;">{{fianNum}}</span>笔</span>
                <a ui-sref="userHome.userProperty">查看详情</a>
                <button type="button" class="btn btn-red" ui-sref="home.finance">申请融资</button>
            </div>
        </div>
        <div class="user-part1-r">
            <div class="user-part1-r-t">
                <span>当前信息完整度</span>
                <a ui-sref="userHome.userAgency" ui-sref="userHome.userAgency">完善修改资料</a>
                <div style="margin:40px 0;" ng-class="{progress: true, 'progress-striped': progressBar.vm.striped}" class="col-md-12 active">
                    <div ng-class="['progress-bar',progressBar.vm.style]" ng-style="{width: vm.value + '%'}" class="ch">
                        <div ng-if="progressBar.vm.showLabel">{{vm.value}}%</div>
                    </div>
                </div>
            </div>
            <!--<a href="">查看业务开通情况</a>-->
        </div>
    </div>
    <div class="user-part2">
        <div class="user-part2-nav">
            <ul>
                <li ng-class="{'li-selected':currenMenu == 'menu1'}" ng-click="show('menu1')">融资管理</li>
                <li ng-class="{'li-selected':currenMenu == 'menu2'}" ng-click="show('menu2')">受让资产管理</li>
            </ul>
            <a ui-sref="userHome.userProperty">查看更多>></a>
        </div>
        <div class="part2-con" ng-show="currenMenu == 'menu1'">
            <ul>
                <li ng-repeat="fina in finaList" repeat-finish>
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>项目编号：{{fina.productNo}}</p>
                            <p>{{fina.productName}}</p>
                        </li>
                        <li class="col-md-3">
                            <p>￥&nbsp;&nbsp;
                                <span ng-if="fina.confirmAmt!= ''">{{tran.transferAmt}}万元</span>
                                <span ng-if="fina.confirmAmt== ''">0.0万元</span>
                            </p>
                        </li>
                        <li class="col-md-2">
                            <p>提交日期：{{fina.createDate+fina.createTime | dateFilter:"yyyy-MM-dd HH:mm:ss"}}</p>
                            <p>{{fina.statusCH}}</p>
                        </li>
                        <li class="col-md-3">
                            <button class="btn btn-query" ng-click="tranFinaingDetail(this.fina)">查看</button>
                            <button class="btn btn-query" ng-if="fina.status=='04'" ng-click="modify(this.fina)">修改</button>
                            <button class="btn btn-query" ng-if="fina.status=='07'" ng-click="openDialogTran(this.fina,'save')">成交</button>
                            <button class="btn btn-query" ng-if="fina.status=='08'&&fina.tradeAmt==''" ng-click="openDialogTran(this.fina,'save')">成交</button>
                            <button class="btn btn-query" ng-if="fina.status=='08'&&fina.tradeAmt!=''" ng-click="openDialogTran(this.fina,'edit')">修改成交</button>
                        </li>
                    </ul>

                </li>
            </ul>
            <div class="loading" ng-show="showDiv1"><img src="img/noData.png"></div>
        </div>
        <div class="part2-con" ng-show="currenMenu == 'menu2'">
            <ul>
                <li ng-repeat="tran in tranList" repeat-finish>
                    <ul class="part2-con-ul">
                        <li class="col-md-4">
                            <p>项目编号：{{tran.productNo}}</p>
                            <p>{{tran.productNo}}</p>
                        </li>
                        <li class="col-md-3">

                            <p >￥&nbsp;&nbsp;
                                <span ng-if="tran.tradeAmt!= ''">{{tran.tradeAmt}}万元</span>
                                <span ng-if="tran.tradeAmt== ''">0.0万元</span>
                            </p>
                        </li>
                        <li class="col-md-2">
                            <p>提交日期：{{tran.chgDate | dateFilter:"yyyy-MM-dd"}}</p>
                            <p>{{tran.statusT}}</p>
                        </li>
                        <li class="col-md-3">
                            <button class="btn btn-query" ng-click="tranTransferDetail(tran)">查看</button>
                            <button class="btn btn-default" ng-if="tran.status == '01'" ng-click="revoke(tran)">撤销</button>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="loading" ng-show="showDiv"><img src="img/noData.png"></div>
        </div>
    </div>
    <div class="bounced-wrap" style="overflow-y: auto;" ng-show="isShowDialogTran">
        <div class="asset-details pb_do" style="background: none;">
            <div class="bounced_top"><span>成交信息</span><i class="iconX" ng-click="cancel()"></i></div>
            <div class="infor" style="border-radius: 4px;height: 360px;">
                <div class="" style="padding: 40px 0px 0px;">
                    <div class="one">
                        <div class="left">
                            <label>项目编号：</label><span>{{tranFinaingInfo.productNo}}</span>
                        </div>
                        <div class="right">
                            <label class="le-sp">项目名称：</label><span>{{tranFinaingInfo.productName}}</span>

                        </div>
                    </div>
                    <div class="two clearfix">
                        <div class="left"><label>标的价格：</label><input class="w230" type="text" ng-model="tranFinaingInfo.attrValue"></div>
                        <div class="right">
                            <label class="le-sp"><i class="hong">*</i>成交价格：</label>
                            <input class="w230" type="text" ng-model="tranFinaingInfo.tradeAmt">
                        </div>
                    </div>
                    <div class="three clearfix">
                        <div class="left">
                            <label><i class="hong">*</i>交易对手：</label>
                            <select class="w230" ng-model="transactionRival" ng-options="rival.memberName for rival in rivals" selected="tranFinaingInfo.tradeObj==transactionRival.memberName" ng-change="showOther(transactionRival)">
                                <option value="">其他</option>
                            </select>
                        </div>
                        <div class="right">
                            <label class="le-sp"></label>
                            <input ng-model="otherMem" ng-show="isShowOtherMem" placeholder="请输入交易对手名称">
                        </div>
                    </div>
                    <div class="three clearfix">
                        <div class="left">
                            <label><i class="hong">*</i>成交日期：</label>
                            <div class="my-date" id="web-date">
                                <p class="input-group">
                                    <input type="text" class="form-control"  name="orgCertValidate" datepicker-popup="{{vm.format}}" ng-model="vm.value" is-open="vm.opened" datepicker-options="dateOptions" date-disabled="vm.disabled(date, mode)" show-weeks="false" ng-required="true" disabled close-text="关闭" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="vm.open($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="four clearfix">
                        <label>合同上传：</label>
                        <div class="business">
                            <div class="left" id="fileImage5">
                                <div class="upload">
                                    <form id="uplContractAttach"  method="post" enctype="multipart/form-data" >
                                        <input type="file" name="img" ng-model="img" ng-change="upContractAttach('uplContractAttach','contractAttach')"  id="noAttachInput" multiple="multiple"
                                               style="width:150px;" accept="image/*"/>
                                        <input type="text" name="finaRrojNo" value="{{finaRrojNo}}" class="hide">
                                        <input type="text" name="upType" value="tranFinaing" class="hide">
                                    </form>
                                    <input type="text" hidden="true" name="contractAttach"  ng-model="tranFinaingInfo.contractAttach">
                                </div>
                                <input type="file" name="file" id="doc5" multiple="multiple" name="risk5" style="width:150px;display: none;">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-red" style="margin-left:70px;margin-right:36px;" ng-click="comTranTransferLog()">保存</button>
                    <button class="btn asset-btn" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
