<div class="prodcut nav_slider">
    <div class="container" style="padding-top:22px;">
        <div class="col-xs-12 col-sm-12 bg_f2 title_cen padding" >
            <span class="title_left">热门产品</span>
        </div>
        <div class="col-lg-12 center rem">
            <ul>
                <li>
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_height">高风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
                <li>
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_middle">中风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
                <li>
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_low">低风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
                <li class="no">
                    <div class="rem_title">招商招钱金宝货币基金A</div>
                    <div class="rem_fen"><span class="rem_low">低风险</span></div>
                    <div class="rem_center">
                        <div class="rem_left">
                            <div class="rem_money">2.654<span>元</span></div>
                            <div class="rem_ti">万份收益</div>
                        </div>
                        <div class="rem_right">
                            <div class="rem_bai">1.334<span>%</span></div>
                            <div class="rem_ti">七日年化收益</div>
                        </div>
                    </div>
                    <button class="btn btn_buy">我想申购</button>
                </li>
            </ul>
        </div>

        <div class="details_box" ng-controller="indexTabCtrl">
            <div class="classes news y_bottom bg_f2">
                <ul class="nav nav-tabs" id="tab">
                    <li class="active bg_f2"><a>基金产品A</a></li>
                    <li><a>基金产品B</a></li>
                    <li><a>基金产品C</a></li>
                    <span class="title_right" style="margin-right: 15px;">更多>></span>
                </ul>
            </div>
            <div class="type">
                <div class="species clearfix">
                    <ul>
                        <li>种类</li>
                        <li class="unlimited">不限</li>
                        <li>货币型</li>
                        <li>股票型</li>
                        <li>债券型</li>
                        <li>混合型</li>
                        <li>指数型</li>
                        <li>QDII</li>
                        <li>其他型</li>
                    </ul>
                    <div class="more">恢复默认推荐</div>
                </div>
                <div class="brand clearfix">
                    <ul>
                        <li>品牌</li>
                        <li  class="unlimited">不限</li>
                        <li>招商证券</li>
                        <li>大成基金</li>
                        <li>广发证券</li>
                        <li>平安证券</li>
                        <li>更多&gt;</li>
                    </ul>
                </div>
            </div>
            <div id="con">
                <!--=====================================基金产品A===================================-->
                <div class="dynamic">
                    <ul class="box_title">
                        <li>基金名称</li>
                        <li>最新净值（元）</li>
                        <li>万份收益（元）</li>
                        <li>七日年化（%）</li>
                        <li>风险等级</li>
                        <li>操作</li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>

                    <!--分页控件-->
                    <div class="bottom">
                        <div class="collectiont_tab_page">
                            <div class="new_page">
                                <a href="#1">上一页</a>
                                <a class="current" href="#1">1</a>
                                <a href="#1">2</a>
                                <a href="#1">3</a>
                                <a href="#1">4</a>
                                <a href="#1" class="more">...</a>
                                <a href="#1">6</a>
                                <a href="#1">下一页</a>
                                <a href="#1">末页</a>
                            </div>
                        </div>
                    </div>

                </div>

                <!--=================================基金产品B==================================-->
                <div class="dynamic" style="display: none">
                    <ul class="box_title">
                        <li>基金名称</li>
                        <li>最新净值（元）</li>
                        <li>万份收益（元）</li>
                        <li>七日年化（%）</li>
                        <li>风险等级</li>
                        <li>操作</li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>

                    <!--分页控件-->
                    <div class="bottom">
                        <div class="collectiont_tab_page">
                            <div class="new_page">
                                <a href="#1">上一页</a>
                                <a class="current" href="#1">1</a>
                                <a href="#1">2</a>
                                <a href="#1">3</a>
                                <a href="#1">4</a>
                                <a href="#1" class="more">...</a>
                                <a href="#1">6</a>
                                <a href="#1">下一页</a>
                                <a href="#1">末页</a>
                            </div>
                        </div>
                    </div>

                </div>

                <!--===========================基金产品C==================================-->
                <div class="dynamic" style="display: none">
                    <ul class="box_title">
                        <li>基金名称</li>
                        <li>最新净值（元）</li>
                        <li>万份收益（元）</li>
                        <li>七日年化（%）</li>
                        <li>风险等级</li>
                        <li>操作</li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>
                    <ul class="">
                        <li><div class="box_big"><span>招商招钱金宝货币基金A</span></div><div class="box_sem">8888</div></li>
                        <li><div class="box_big"><span>1.1886</span></div><div class="box_sem">2016-01-01</div></li>
                        <li class="line">2.756</li>
                        <li class="line">2.75</li>
                        <li class="line">低风险</li>
                        <li class="line"><button class="btn btn_buy">我想申购</button></li>
                    </ul>

                    <!--分页控件-->
                    <div class="bottom">
                        <div class="collectiont_tab_page">
                            <div class="new_page">
                                <a href="#1">上一页</a>
                                <a class="current" href="#1">1</a>
                                <a href="#1">2</a>
                                <a href="#1">3</a>
                                <a href="#1">4</a>
                                <a href="#1" class="more">...</a>
                                <a href="#1">6</a>
                                <a href="#1">下一页</a>
                                <a href="#1">末页</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

